<h2>{{title}} {{#if isOnline}} <a href="{{unbound url}}"><span class="label label-primary">{{capitalize type}} {{id}}</span></a>{{/if}}</h2>

<p class="lead">{{#link-to 'publication' publicationID}}{{source}}{{/link-to}}</p>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <tr>
        <th>Format</th>
        <th>Year Published</th>
        <th>Language</th>
        <th>Target Audience</th>
      </tr>
      <tr>
        <td>{{capitalize format}}</td>
        <td>{{year}}</td>
        <td>{{capitalize language}}</td>
        <td>{{capitalize audience}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    {{standards-panel type="economics" items=economicsStandards}}
    {{standards-panel type="personalFinance" items=personalFinanceStandards}}
  </div>
  <div class="col-md-4">
    {{standards-panel type="commonCore" items=commonCoreStandards}}
  </div>
  <div class="col-md-4">
    {{concepts-panel items=concepts}}
  </div>
</div>