<h2>{{title}}</h2>

<div class="row">
  <div class="col-md-7">
    <h3>About</h3>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>ISBN</th>
          <td>{{isbn}}</td>
        </tr>
        <tr>
          <th>Grades Covered</th>
          <td>
            <ul class="list-unstyled">
            {{#each grades}}
              <li>{{this}}</li>
            {{/each}}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Lessons</h3>
    <table class="table table-condensed">
      <tbody>
      {{#each lessons}}
        <tr>
          <td>{{#link-to 'lesson' id}}{{title}}{{/link-to}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    {{standards-panel type="economics" items=standards.economics}}
    {{standards-panel type="personalFinance" items=standards.personalFinance}}
    {{standards-panel type="commonCore" items=standards.commonCore}}
    {{concepts-panel items=concepts}}
  </div>
</div>
