<div class="panel panel-default lesson" id="lesson-{{_id}}">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <h4>Source</h4>
    <p>
      {{#if url}}<a href="{{url}}">{{/if}}{{source}}{{#if url}}</a>{{/if}}
      {{#if year}}({{year}}){{/if}}
      {{#if type}}<span class="badge">{{id}}<span>{{/if}}
    </p>
  </div>
  <div class="panel-footer">
    <div class="btn-group">
      <a href="#/rate/like/{{_id}}" class="btn btn-success like rating" data-rating="like" data-lesson="{{_id}}"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
      <a href="#/rate/dislike/{{_id}}" class="btn btn-danger dislike rating" data-rating="dislike" data-lesson="{{_id}}"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</a>
      <a href="#/rate/miscategorized/{{_id}}" class="btn btn-warning miscategorized rating" data-rating="like" data-lesson="{{_id}}"><span class="glyphicon glyphicon-question-sign"></span> Miscategorized</a>
      <a href="#/rate/comment/{{_id}}" class="btn btn-info comment rating" data-rating="comment" data-lesson="{{_id}}"><span class="glyphicon glyphicon-comment"></span> Comment</a>
    </div>
  </div>
</div>