<div class="row">
  <div class="col-md-12">
    <h3>Feedback</h3>
    {{#if message}}
      <div class="alert alert-info">{{{message}}}</div>
    {{/if}}
    <div class="btn-group btn-group-justified">
      <a {{action 'rate' 'like' _id}} class="btn btn-success rating-like">Like</a>
      <a {{action 'rate' 'dislike' _id}} class="btn btn-danger rating-dislike">Dislike</a>
      <a {{action 'rate' 'miscategorized' _id}} class="btn btn-info rating-miscategorized">Miscategorized</a>
    </div>
    <br>
    <form role="form" {{action "commentSubmission" on="submit"}}>
      <div class="form-group">
        <label for="comment">Comment</label>
        {{view Ember.TextArea valueBinding="comment" rows="5" class="form-control"}}
      </div>
      <button type="submit" {{bind-attr class=":btn :btn-primary comment::disabled"}}>Submit Feedback</button>
    </form>
  </div>
</div>