<table class="table">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Publication</th>
      <th>Format</th>
      <th>Type</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
    <tr>
      <td>{{#link-to 'lesson' id}}{{title}}{{/link-to}}</td>
      <td>{{source}}</td>
      <td>{{format}}</td>
      <td>{{type}}</td>
      <td>{{year}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>