<h2>{{title}}</h2>

<p class="lead">{{source}}</p>

<table class="table table-condensed">
  <tr>
    <th>Format</th>
    <th>Type</th>
    <th>Year Published</th>
    <th>Language</th>
    <th>Target Audience</th>
  </tr>
  <tr>
    <td>{{capitalize format}}</td>
    <td>{{capitalize type}}</td>
    <td>{{year}}</td>
    <td>{{capitalize language}}</td>
    <td>{{capitalize audience}}</td>
  </tr>
</table>