<ol class="breadcrumb">
  <li>{{#link-to 'lessons'}}Portfolio{{/link-to}}</li>
  <li class="active">{{title}}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Publication</th>
          <th>Format</th>
          <th>Year</th>
          <th>Audience</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{source}} {{#if econedlink}}(<a {{bind-attr href=url}} target="_blank">View Online</a>){{/if}}</td>
          <td>{{capitalize format}}</td>
          <td>{{year}}</td>
          <td>{{capitalize audience}}</td>
          <td>{{capitalize language}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-3">
        {{standards-list title="Economics Standards" subject="economics" standards=economicsStandards}}
      </div>
      <div class="col-md-3">
        {{standards-list title="Personal Finance Standards" subject="personalFinance" standards=personalFinanceStandards}}
      </div>
      <div class="col-md-3">
        {{common-core-standards title="Common Core Standards" standards=commonCoreStandards}}
      </div>
      <div class="col-md-3">
        {{concepts-list concepts=concepts}}
      </div>
    </div>
  </div>
</div>

{{#if comments}}
  {{comment-list comments=comments}}
{{/if}}

{{view Portfolio.LessonFeedback}}