{{view Portfolio.FilterControls}}

{{view Portfolio.PaginationControls}}

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Lesson</th>
          <th>Publication</th>
          <th>Format</th>
          <th>Rating</th>
          <th>Teacher Pageviews</th>
          <th>Student Pageviews</th>
        </tr>
      </thead>
      <tbody>
        {{#each viewableLessons}}
        <tr>
          <td>{{#link-to 'lesson' id}}{{title}}{{/link-to}}</td>
          <td><a {{action 'lookupPublication' publication.title}}>{{publication.title}}</a></td>
          <td>{{capitalize format}}</td>
          <td>{{rating}}</td>
          <td>{{teacherPageviews}}</td>
          <td>{{studentPageviews}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{view Portfolio.PaginationControls}}